---
import { Picture } from 'astro:assets';
import img from '~/assets/shaggy.svg';
import { SiteDescription, SiteTitle } from '~/config';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="Shaggy Rogers Carrying Scooby doo" loading="eager" />
		<div>
			<h1>Hello there! I am Henalecam</h1>
			<p>
				This is a blog to describe my journey in the world professional and personal, only to share my thoughts and experiences to who cares and to me in the future.
			</p>
			<ul class="list-disc">
				<li>
					My name is Henrique Alexandre
				</li>
				<li>
					All my social media is in the corner of the page.
				<li>
					Ruby Developer, Computer Science student and WebDesigner with a lot of hobbies.
				</li>
				<li>
					I don't have any specific public or topics, only blogging.
				</li>
				<li>
					In english because I think is the way to show my view to reach more people.
				</li>
				<li>
					This blog template was made by <a href="https://github.com/ladit/astro-blog-zozo">Ladit</a>
				</li>
			</ul>
		</div>
	</div>
</MarkdownLayout>
